.bg-dark{
    background-color: #343a40 !important;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #343a40;
    color: #333;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 60px 0;
    text-align: center;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
}

.btn-linkedin {
    color: #fff;
    background-color: #0077B5;
    border-color: #0077B5;
}

.btn-linkedin:hover {
    color: #fff;
    background-color: #005983;
    border-color: #005983;
}

.email-section {
    margin-top: 20px;
}
.email-section img {
    height: 60px;
    width: 60px;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e9ecef;
}
.footer a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}