body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #030303;
    color: #050505;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-expand-lg{
    background-color: #030303;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 60px 0;
    text-align: center;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
